[submodule "Reporting/pwndoc"]
	path = Reporting/pwndoc
	url = https://github.com/pwndoc/pwndoc
[submodule "Exploitation"]
	path = Exploitation
	url = git@github.com:Drygster/Exploitation
[submodule "VulnAnalysis"]
	path = VulnAnalysis
	url = git@github.com:Drygster/VulnAnalysis
[submodule "IntelligenceGathering"]
	path = IntelligenceGathering
	url = git@github.com:Drygster/IntelligenceGathering
