[submodule "Reporting/pwndoc"]
	path = Reporting/pwndoc
	url = https://github.com/pwndoc/pwndoc
[submodule "Exploitation"]
	path = Exploitation
	url = https://github.com/Drygster/Exploitation
[submodule "VulnAnalysis"]
	path = VulnAnalysis
	url = https://github.com/Drygster/VulnAnalysis
[submodule "IntelligenceGathering"]
	path = IntelligenceGathering
	url = https://github.com/Drygster/IntelligenceGathering
